mat-card{
    width: 400px;
    height: 400px;
}
h1{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    // background-color: green;
}
.login{
   
    margin-left: 50px;
}
.example-container{
    margin-left: 65px;
}


